    @font-face{
        font-family:"Flareserif_821 W01 Bold";
        src:url("Fonts/7e04c948-5310-4e7f-8284-54488aa7c6a8.eot?#iefix");
        src:url("Fonts/7e04c948-5310-4e7f-8284-54488aa7c6a8.eot?#iefix") format("eot"),url("Fonts/c6b15809-1259-491c-85b5-99a456749c8e.woff2") format("woff2"),url("Fonts/87cee074-d89c-481b-8bb9-bfde2b9376f4.woff") format("woff"),url("Fonts/f347e67a-ace3-4c2f-8af0-cd57ad36162f.ttf") format("truetype");
    }
